/*!
    JISS - Javascript Image Slideshow Script | v1.0 | 18.10.2016
    (https://github.com/Avunia/JISS)
    (c) Alexander Meinhardt / @windyrain0212 / http://avunia.gitlab.io
*/
.jissBackground {
  position: absolute;
  top: 0;left: 0;
  width: 100%;height: 100%;
  overflow: hidden;
  z-index: -100;
}
.jissBackground.container > div[class*="image"] {
  top: 0;left: 0;
  width: 100%;height: 100%;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  opacity: 0.0;
  transition: opacity .75s;
  z-index: -100;
}
.jissShown {
  opacity: 1.0!important;
}