/*
  JISS - Javascript Image Slideshow Script | v2.0 | 2018-10-14
  https://github.com/Avunia/JISS
  (c) Alexander Meinhardt / @_Avunia / https://avunia.net
*/
div[class*="JISSimage"] {
  position: absolute;
  top: 0;left: 0;
  width: 100%;height: 100%;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  opacity: 0.0;
  transition: opacity .75s;
  z-index: -100;
}
.JISSactive {
  opacity: 1.0!important;
}